html {
    height: 100%;
    font-size: 62.5%;
  }
  
  :root {
    --gray-blue: #2c3e50;
    --dark-blue: #2980b9;
    --green: #27ae60;
    --dark-green: #1f8b4c;
    --light-gray-1: #f1f4f5;
    --light-gray-2: #ecf0f1;
    --silver: #bdc3c7;
  
    --form-transition-time: 500ms;
    --translate-multiplier: 0;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100%;
    font-size: 1.8rem;
    background-color: var(--light-gray-1);
  }
  
  input[type="text"],
  input[type="number"],
  select,
  textarea {
    margin: 1rem auto;
    padding: 5px;
    width: 100%;
    display: block;
    border: 1px solid var(--silver);
    border-radius: 5px;
  }
  
  .form-container {
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
  }
  
  .form-steps {
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    background-color: var(--light-gray-1);
    border-radius: 8px;
  }
  
  .form-steps__button {
    position: relative;
    z-index: 10;
    width: 40px;
    height: 40px;
  
    color: whitesmoke;
    background: var(--dark-blue);
    border: none;
    border-radius: 50%;
  
    cursor: pointer;
  }
  
  .form-steps {
    position: relative;
  }
  
  .progress-bar {
    position: absolute;
    top: 50%;
    left: 15%;
    height: 6px;
    width: 70%;
  
    overflow-x: hidden;
    transform: translateY(-50%);
  }
  
  .progress-bar__fill {
    width: 100%;
    height: 100%;
    background-color: var(--silver);
  
    transition: all var(--form-transition-time) ease-out;
    transform: translateX(calc(-100% + calc(100% / 3 * var(--translate-multiplier))));
  }
  
  .stepper-form {
    width: 100%;
    overflow-x: hidden;
  }
  
  .form-section-container {
    width: calc(400% + (4 * 4rem));
    display: flex;
  
    transition: transform var(--form-transition-time);
    transform: translateX(calc(((-100% / 4)) * var(--translate-multiplier)));
  }
  
  .form-section {
    margin-right: 4rem;
    width: calc(100% + 4rem);
  }
  
  .form-section__heading,
  .toppings-heading {
    margin-bottom: 2rem;
    width: 100%;
  }
  
  .toppings-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .toppings {
    flex: 0 1 47%;
    padding: 2rem;
  }
  
  .form-group {
    padding: 1rem;
  }
  
  .next-button,
  .submit-button,
  .prev-button {
    margin: 1rem 1rem 1rem 0;
    padding: 1rem 1.5rem;
  
    color: #fff;
    background: var(--dark-green);
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
  
    transition: all 300ms;
    cursor: pointer;
  }
  
  .prev-button {
    background: var(--dark-blue);
  }
  
  .next-button:hover,
  .prev-button:hover,
  .submit-button:hover{
    transform: translateY(-4px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .3);
  }
  
  @media screen and (max-width: 700px) {
    .toppings {
      flex: 1 0 auto;
      padding: 2rem;
    }
  }
  
  /* =============== */
  /* UTILITY CLASSES */
  /* =============== */
  
  .neumorphism {
    background: linear-gradient(to bottom right, var(--light-gray-1), var(--light-gray-2));
    border-radius: 8px;
    box-shadow:
      -5px -5px 5px rgba(255, 255, 255, .9),
      5px 5px 5px rgba(0, 0, 0, .1);
  }
  
  .dark-mode {
    color: var(--light-gray-1);
    background-color: var(--gray-blue);
  }
  
  .neumorphism--dark-mode {
    background-color: var(--gray-blue);
    box-shadow:
      -5px -5px 5px rgba(255, 255, 255, .05),
      5px 5px 5px rgba(0, 0, 0, .1);
  }
  
  .margin-x-2 {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  
  .margin-y-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  .margin-xy-2 {
    margin: 2rem;
  }
  
  .padding-xy-2 {
    padding: 2rem;
  }