body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #052D70;
  color: #fff;
  box-sizing: border-box;
}
// container style //
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 1500px;
  }
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
// container style//















// .logo_req_wrapper{
//   display: flex;
// flex-direction: column;
// }
// .top-section {
//   text-align: center;
// }

// .top-section img {
//   max-width: 100%;
//   height: auto;
// }

// .top-section{
//   .tw_logo{
//     width: 110px;
//   }
// }

// .top-section h2 {
//   margin-top: 20px;
// }

// .left-section, .right-section {
//   width: 50%;
// }

// form {
//   max-width: 300px;
//   margin: 0 auto;
// }

// .lets_get_started_btn{
//   background-color: #8DC63F;
//   color: #fff;
// }
// /* Add media query for mobile layout */




.banner{
  height: 100vh;
  position: relative;
  .banner_content{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
    @media (min-width: 992px) {
      margin-bottom: 0;
      height: 100vh;
    }
    @media (min-width: 1200px) {
      margin-right: 24px;
    }
    @media (min-width: 1600px) {
      margin-right: 50px;
    }
    @media (min-width: 1867px) {
      margin-right: 24px;
    }
    h1{
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 10px;
      @media (min-width: 576px) {
        font-size: 22px;
      }
      @media (min-width: 768px) {
        font-size: 35px;
        margin-bottom: 15px;
      }
      @media (min-width: 992px) {
        font-size: 27px;
      }
      @media (min-width: 1600px) {
        font-size: 39.5px;
        margin-bottom: 15px;
      }
      @media (min-width: 1867px) {
        font-size: 42px;
        margin-bottom: 20px;
      }
    }
    p{
      font-size: 10px;
      margin-bottom: 10px;
      color:  rgba(255, 255, 255, 1);
      @media (min-width: 576px) {
        font-size: 12px;
      }
      @media (min-width: 768px) {
        font-size: 16.5px;
        margin-bottom: 15px;
      }
      @media (min-width: 992px) {
        font-size: 13px;
      }
      @media (min-width: 1200px) {
        font-size: 12.5px;
      }
      @media (min-width: 1600px) {
        font-size: 16px;
      }
      @media (min-width: 1867px) {
        font-size: 17px;
        margin-bottom: 20px;
      }
    }
    form{
      width:100%;
      @media (min-width: 992px) {
        width:76%
      }
      @media (min-width: 1600px) {
        width:78%
      }
      @media (min-width: 1867px) {
        width:80%;
      }
      .form-label{
        color: rgba(195, 210, 214, 1);
        font-size: 13px!important;
        margin-bottom: 7px;
        @media (min-width: 576px) {
          font-size: 14px!important;
          margin-bottom: 8px;
        }
        @media (min-width: 768px) {
          font-size: 16px!important;
          margin-bottom: 10px;
        }
        @media (min-width: 992px) {
          font-size: 14px!important;
          margin-bottom: 8px;
        }
        @media (min-width: 1200px) {
          font-size: 15px!important;
          margin-bottom: 9px;
        }
        @media (min-width: 1600px) {
          font-size: 16px!important;
          margin-bottom: 9px;
        }
        @media (min-width: 1867px) {
          font-size: 18px!important;
          margin-bottom: 15px;
        }
      }
      .mb-3{
        margin-bottom: 10px!important;
        @media (min-width: 768px) {
          margin-bottom: 15px!important;
        }
        @media (min-width: 1600px) {
          margin-bottom: 20px!important;
        }
        @media (min-width: 1867px) {
          margin-bottom: 20px!important;
        }
      }
      input{
        border-radius: 4px;
        height:35px;
        border: 1px solid rgba(213, 216, 222, 1);
        @media (min-width: 576px) {
          height:40px;
        }
        @media (min-width: 768px) {
          height: 45px;
        }
        @media (min-width: 992px) {
          height:40px;
        }
        @media (min-width: 1600px) {
          height:55px;
        }
        @media (min-width: 1867px) {
          height:67px;
        }
      }
      .lets_get_started_btn{
        height: 60px;
        width: 100%;
        font-size: 18px;
        background: rgba(141, 198, 63, 1);
        margin-top: 20px;
        border-radius: 4px;
        i{
          margin-left:0px;
          svg{
            height: 13px;
          }
        }
        @media (min-width: 576px) {
          height:65px;
          font-size: 20px;
          i{
            svg{
              height: 15px;
            }
          }
        }
        @media (min-width: 992px) {
          height:55px;
          font-size: 18px;
          i{
            margin-left: 2px;
            svg{
              height: 13px;
            }
          }
        }
        @media (min-width: 1600px) {
          height:80px;
          font-size: 24px;
          i{
            margin-left: 2px;
            svg{
              height: 14px;
            }
          }
        }
        @media (min-width: 1867px) {
          height:100px;
          font-size: 28px;
          i{
            margin-left:10px;
          }
        }
      }
    }
  }
  .desktop{
    display: none!important;
    .banner_image{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    @media (min-width: 992px) {
      display: block!important;
      .tw_logo {
        margin-bottom: 40px;
        width: 35%;
      }
      .banner_img {
        max-width: 100%;
      }
      .banner_image{
        height:100vh;
      }
    }
    @media (min-width: 1200px) {
      .tw_logo {
        margin-bottom: 30px;
        width: 30%;
      }
      .banner_img {
        max-width: 75%;
      }
    }
    @media (min-width: 1600px) {
      .tw_logo {
        margin-bottom: 40px;
        width: 28%;
      }
      .banner_img {
        max-width: 80%;
      }
    }
    @media (min-width: 1867px) {
      height: 100vh;
      .tw_logo {
        margin-bottom: 50px;
        width: 27%;
      }
      .banner_img {
        max-width: 95%;
      }
    }
    .bnr_fxd_svg{
      position: absolute;
      bottom: -61%;
      right: -169px;
      display: none;
      svg{
        height: 80px;
      }
      @media (min-width: 992px) {
        position: fixed;
        bottom: 0;
        right: -6%;
        display: block!important;
        svg{
          height: 200px;
        }
      }
      @media (min-width: 1367px) {
        right: -5%;
        
      }
      @media (min-width: 1600px) {
        right: -4%;
        
      }
       @media (min-width: 1867px) {
        right: 0%;
        svg{
          height: 267px;
        }
      }
    }
  }
  .mobile{
    display:block!important;
    .banner_image{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 20px;
      .tw_logo {
        margin-bottom: 30px;
        width: 35%;
      }
      .banner_img {
        max-width: 95%;
      }
      @media (min-width: 768px) {
        margin-bottom: 40px;
        .tw_logo {
          margin-bottom: 40px;
          width: 30%;
        }
        .banner_img {
          max-width: 75%;
        }
      }
    }
    @media (min-width: 992px) {
      display: none!important;
    }
  }
}
