* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  // font-family: 'Arial', sans-serif;
  // font-family: 'Poppins', sans-serif;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
  box-sizing: border-box;
  background:#fff;
}
:root {
  --gray-blue: #2c3e50;
  --dark-blue: #2980b9;
  --green: rgba(144, 198, 60, 1);
  --dark-green: #1f8b4c;
  --light-gray-1: #f1f4f5;
  --light-gray-2: #ecf0f1;
  --silver: #bdc3c7;

  --form-transition-time: 500ms;
  --translate-multiplier: 0;
}
// container style //
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 1500px;
  }
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
// container style//


.slider {
  &.slick-slider{
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
  }
  .slick-prev,
  .slick-next  {
    display: none;
  }
  .slick-slide {
    pointer-events: auto !important;
  }
}

.banner{
  height: 100vh;
  position: relative;
  background-color: #052D70!important;
  .banner_content{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
    @media (min-width: 992px) {
      margin-bottom: 0;
      height: 100vh;
    }
    @media (min-width: 1200px) {
      margin-right: 24px;
    }
    @media (min-width: 1600px) {
      margin-right: 50px;
    }
    @media (min-width: 1867px) {
      margin-right: 24px;
    }
    h1{
      font-family: "Lato",sans-serif;
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 10px;
      // @media (min-width: 576px) {
      //   font-size: 22px;
      // }
      // @media (min-width: 768px) {
      //   font-size: 35px;
      //   margin-bottom: 15px;
      // }
      // @media (min-width: 992px) {
      //   font-size: 27px;
      // }
      @media (min-width: 1600px) {
        // font-size: 39.5px;
        margin-bottom: 15px;
      }
      @media (min-width: 1867px) {
        // font-size: 42px;
        margin-bottom: 20px;
      }
    }
    p{
      // font-size: 10px;
      margin-bottom: 10px;
      color:  rgba(255, 255, 255, 1);
      font-size: .8rem;
      font-weight: 400;
      @media (min-width: 576px) {
        font-size: 12px;
      }
      @media (min-width: 768px) {
        font-size: 16.5px;
        margin-bottom: 15px;
      }
      @media (min-width: 992px) {
        font-size: 13px;
      }
      @media (min-width: 1200px) {
        font-size: 12.5px;
      }
      @media (min-width: 1600px) {
        font-size: 16px;
      }
      @media (min-width: 1867px) {
        font-size: 17px;
        margin-bottom: 20px;
      }
    }
    form{
      width:100%;
      @media (min-width: 992px) {
        width:76%
      }
      @media (min-width: 1600px) {
        width:78%
      }
      @media (min-width: 1867px) {
        width:80%;
      }
      .form-label{
        color: rgba(195, 210, 214, 1);
        font-size: 13px!important;
        margin-bottom: 7px;
        @media (min-width: 576px) {
          font-size: 14px!important;
          margin-bottom: 8px;
        }
        @media (min-width: 768px) {
          font-size: 16px!important;
          margin-bottom: 10px;
        }
        @media (min-width: 992px) {
          font-size: 14px!important;
          margin-bottom: 8px;
        }
        @media (min-width: 1200px) {
          font-size: 15px!important;
          margin-bottom: 9px;
        }
        @media (min-width: 1600px) {
          font-size: 16px!important;
          margin-bottom: 9px;
        }
        @media (min-width: 1867px) {
          font-size: 18px!important;
          margin-bottom: 15px;
        }
      }
      .form-control{
        margin-bottom: 10px!important;
        @media (min-width: 768px) {
          margin-bottom: 15px!important;
        }
        @media (min-width: 1600px) {
          margin-bottom: 20px!important;
        }
        @media (min-width: 1867px) {
          margin-bottom: 20px!important;
        }
      }
      input{
        border-radius: 4px;
        height:35px;
        border: 1px solid rgba(213, 216, 222, 1);
        @media (min-width: 576px) {
          height:40px;
        }
        @media (min-width: 768px) {
          height: 45px;
        }
        @media (min-width: 992px) {
          height:40px;
        }
        @media (min-width: 1600px) {
          height:55px;
        }
        @media (min-width: 1867px) {
          height:67px;
        }
      }
      .lets_get_started_btn{
        height: 60px;
        width: 100%;
        font-size: 18px;
        background: rgba(141, 198, 63, 1);
        margin-top: 20px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        &:before {
          position: absolute;
          content: '';
          z-index: 1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width:0;
          transition: all 0.7s ease;
        }
        &:hover{
          &:before{
            background: rgba(33, 33, 33, 0.09);
            width: 100%;
          }
        }
        i{
          margin-left:0px;
          svg{
            height: 13px;
          }
        }
        @media (min-width: 576px) {
          height:65px;
          font-size: 20px;
          i{
            svg{
              height: 15px;
            }
          }
        }
        @media (min-width: 992px) {
          height:55px;
          font-size: 18px;
          margin-top: 20px;
          i{
            margin-left: 2px;
            svg{
              height: 13px;
            }
          }
        }
        @media (min-width: 1600px) {
          height:80px;
          font-size: 24px;
          margin-top: 30px;
          i{
            margin-left: 2px;
            svg{
              height: 14px;
            }
          }
        }
        @media (min-width: 1867px) {
          height:100px;
          font-size: 28px;
          margin-top: 40px;
          i{
            margin-left: 10px;
            svg{
              height: 20px;
            }
          }
        }
      }
    }
  }
  .desktop{
    display: none!important;
    .banner_image{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    @media (min-width: 992px) {
      display: block!important;
      .tw_logo {
        margin-bottom: 40px;
        width: 35%;
      }
      .banner_img {
        max-width: 100%;
      }
      .banner_image{
        height:100vh;
      }
    }
    @media (min-width: 1200px) {
      .tw_logo {
        margin-bottom: 30px;
        width: 30%;
      }
      .banner_img {
        max-width: 75%;
      }
    }
    @media (min-width: 1600px) {
      .tw_logo {
        margin-bottom: 40px;
        width: 28%;
      }
      .banner_img {
        max-width: 80%;
      }
    }
    @media (min-width: 1867px) {
      height: 100vh;
      .tw_logo {
        margin-bottom: 50px;
        width: 27%;
      }
      .banner_img {
        max-width: 95%;
      }
    }
    .bnr_fxd_svg{
      position: absolute;
      bottom: -61%;
      right: -169px;
      display: none;
      svg{
        height: 80px;
      }
      @media (min-width: 992px) {
        bottom: 0;
        right: -6%;
        display: block!important;
        svg{
          height: 200px;
        }
      }
      @media (min-width: 1367px) {
        right: -5%;
        
      }
      @media (min-width: 1600px) {
        right: -4%;
        
      }
       @media (min-width: 1867px) {
        right: 0%;
        svg{
          height: 267px;
        }
      }
    }
  }
  .mobile{
    display:block!important;
    .banner_image{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 20px;
      .tw_logo {
        margin-bottom: 30px;
        width: 35%;
      }
      .banner_img {
        max-width: 95%;
      }
      @media (min-width: 768px) {
        margin-bottom: 40px;
        .tw_logo {
          margin-bottom: 40px;
          width: 30%;
        }
        .banner_img {
          max-width: 75%;
        }
      }
    }
    @media (min-width: 992px) {
      display: none!important;
    }
  }
}
.btn_group{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .btn{    
    padding: 4px 20px;
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &.btn-primary{
      background-color: var(--green);
      border: none;
    }
    &.backbtn{
      color: #052D70;
      background-color: #fff;
      border-radius: 3px;
      height: 35px;
      &:hover{
        background-color: #052D70;
        color:#fff;
      }
    }
    &:last-child{
      border-radius: 3px;
      height: 35px;
      padding: 4px 15px;
      position: relative;
      &:before {
        position: absolute;
        content: '';
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width:0;
        transition: all 0.7s ease;
      }
      &:hover{
        &:before{
          background: rgba(33, 33, 33, 0.09);
          width: 100%;
        }
      }
    }
  }
  span.btn_svg {
    margin-left: 10px;
  }
}
.step_count{
  display: flex;
  i,em{
    font-style: normal;
  }
  &>i{
    margin-right: 3px;
    text-transform: uppercase;
  }
  .cnt_current{
    color: #333;
  }
  .cnt_total{
    color: #ccc;
  }
}
textarea{
  resize: none;
}
.step_heading{
  font-size: 2rem;
  font-weight: 600;
  margin: 10px 0 0;
  padding: 0;
  color: #333;
}
.step_desc{
  font-size: .9rem;
  color: #919191;
  margin-top: 7px;
  margin-bottom: 30px;
}
.lep_form{
  color: #000000;
  select{
    option{
      color: #666666;
    }
  }
  ::-webkit-input-placeholder {
    color: #ACACAC;
  }

  ::-moz-placeholder {
      color: #ACACAC;
  }

  :-ms-input-placeholder {
      color: #ACACAC;
  }

  ::placeholder {
      color: #ACACAC;
  }
}

//color shades
.color-picker {
  display: flex;
  flex-wrap: wrap;
}

.color-box {
  width: 31%;
  height: 144px;
  margin: 5px;
  cursor: pointer;
  position: relative;
  background-color: white;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.tick-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  background-color: #5A7FF8;
  border-radius: 50%;
  display: none;
  cursor: pointer;
}

.tick-icon:before {
  content: '\2713'; /* Unicode character for a checkmark */
  color: #fff;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.color-info {
  text-align: left;
  margin-top: 5px;
  font-size: 13px;
  color: #555;
  min-height: 58px;
  strong{
    color: #000000;
    font-weight: 600;
  }
  em{
    font-style: normal;
    color: #969696;
  }
}

.color-shades {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  flex-wrap: wrap;
  width: 100%;
}

.shade-box {
  display: inline-flex;
  position: relative;
  width: 25%;
  min-width: 25%;
  height: 25px;
  margin: 0;
}


//logo form
#logoSelectionForm{

  .logo_category_wrap{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    
    .logo_category {
      margin-bottom: 20px;
      display: inline-flex;
      flex-direction: column;
      width: 50%;
      h3{
        font-size: 1rem;
        font-weight: 600;
      }

      .logo_images {
        display: flex;
        gap: 10px;
        margin-right: 30px;
        .logo_box {
          cursor: pointer;
          width: 152px;
          height: 108px;
          border: 1px solid #dbdbdb;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          &.selected {
            border-color: blue;
          }
          .logo {
            width: auto;
            max-width: 100%;
          }
        }
      } 

    }       
    
  }
  
}


//font form
.step5_form{
  .item-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .item-box {
    position: relative;
    cursor: pointer;
    border: 2px solid transparent;
    overflow: hidden;
    height: 150px;
    width: 31%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #D2D5DB;
    border-radius: 5px; 
  }
  
  .item-box.selected {
    border-color: blue;
  }
  
  .item-image {
    width: auto;
    max-width: 100%;
  }
  .subtext {
    display: block;
    font-size: 12px;
    color: #555;
    margin-top: 5px;
  }
}


// template //
.header{
  position: relative;
  .step_header{
    padding: 15px;
    background: rgba(5, 45, 112, 1)!important;
    height: 93px;
    .wrap_d-flex{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo_wrap{
        width: fit-content;
      }
      .stepper_wrap{
        width: 500px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        .progress-bar{
          position: absolute;
          left: 2px;
          height: 3px;
          background: var(--silver);
          width: 99%;
          span{
            width: 29%;
            height: 3px;
            background: var(--green);
          }
        }
        .form-steps__button{
          width: 25px;
          height: 25px;
          border-radius: 50px;
          background-color: var(--silver);
          position: relative;
          padding: 2px 0 0 0;
          z-index: 1;  
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.7s ease;
          &.active{
            width: 28px;
            height: 28px;
            background: rgba(5, 45, 112, 1)!important;
            border:2px solid var(--green);
            svg{
              display: block;
            }
          }  
          svg{
            display: none;
          }  
        }
      }
    }
  }
  .step_content{
    height: 89vh;
    display: flex;
    align-items: center;
    justify-self: center;
    .left_wrap{
      color: #333;
      margin-right: 25%;
    }
    .bnr_fxd_svg{
      position: absolute;
      right: 0;
        bottom: -5%;
      svg{
        height: 80px;
      }
      @media (min-width: 992px) {
        bottom: -5%;
        right: -6%;
        display: block!important;
        svg{
          height: 200px;
        }
      }
      @media (min-width: 1367px) {
        right: -5%;
        
      }
      @media (min-width: 1600px) {
        right: -4%;
        bottom: -2%;
        
      }
       @media (min-width: 1867px) {
        right: 0%;
        bottom: -3%;
        svg{
          height: 267px;
        }
      }
    }
    @media (min-width: 992px) {
      .banner_img {
        max-width: 100%;
      }
    }
    @media (min-width: 1200px) {
      .banner_img {
        max-width: 75%;
      }
    }
    @media (min-width: 1600px) {
      height: 87vh;
      .banner_img {
        max-width: 80%;
      }
    }
    @media (min-width: 1867px) {
      .banner_img {
        max-width: 95%;
      }
    }
  }
}
// template //

// thank you //
.thank_u_wrap{
  height: 100vh;
  background: rgba(213, 235, 255, 1);
  display: flex!important;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  .tw_thank_you{
    margin-bottom: 20px;
    max-width: 70%;
  }
  h2{
    font-size: 65px;
    text-align: center;
    color:rgba(5, 45, 112, 1);
    font-weight: 600;
  }
  p{
    font-size: 30px;
    text-align: center;
    line-height: 37px;
    color: rgb(0, 0, 0);
    margin-top: 20px;
  }
}

// common style //

.h_resp_45{
  height: 45px!important;
}
.h_resp_100{
  height: 100px!important;
}
.mrg_b{
  margin-bottom: 30px;
}
.form-select{
  border-radius: 3px!important;
}
.form-control{
  border-radius: 3px!important;
}

.inner_form_wrap{
  min-height: 550px;
  margin-bottom: 20px;
}
// common style //