body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #052D70;
  color: #fff;
}
// container style //
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 1500px;
  }
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
// container style//















// .logo_req_wrapper{
//   display: flex;
// flex-direction: column;
// }
// .top-section {
//   text-align: center;
// }

// .top-section img {
//   max-width: 100%;
//   height: auto;
// }

// .top-section{
//   .tw_logo{
//     width: 110px;
//   }
// }

// .top-section h2 {
//   margin-top: 20px;
// }

// .left-section, .right-section {
//   width: 50%;
// }

// form {
//   max-width: 300px;
//   margin: 0 auto;
// }

// .lets_get_started_btn{
//   background-color: #8DC63F;
//   color: #fff;
// }
// /* Add media query for mobile layout */




.banner{
  height: 100vh;
  position: relative;
  .banner_content{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    margin-right: 24px;
    h1{
      font-size: 42px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    p{
      font-size: 17px;
      margin-bottom: 20px;
      color:  rgba(255, 255, 255, 1);
    }
    form{
      width:70%;
      .form-label{
        color: rgba(195, 210, 214, 1);
        font-size: 20px;
        margin-bottom: 15px;
      }
      .mb-3{
        margin-bottom: 20px!important;
      }
      input{
        border-radius: 4px;
        height:67px;
        border: 1px solid rgba(213, 216, 222, 1);
      }
      .lets_get_started_btn{
        height: 100px;
        width: 100%;
        font-size: 28px;
        background: rgba(141, 198, 63, 1);
        margin-top: 20px;
        border-radius: 4px;
        i{
          margin-left:10px;
        }
      }
    }
  }
  .banner_image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .tw_logo {
      margin-bottom: 50px;
      width: 27%;
    }
    .banner_img {
      max-width: 95%;
    }
  }
  .bnr_fxd_svg{
    position: fixed;
    bottom: 0;
    right: 0;
  }
}
