* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  // font-family: 'Arial', sans-serif;
  // font-family: 'Poppins', sans-serif;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
  box-sizing: border-box;
  background:#fff;
}
:root {
  --gray-blue: #2c3e50;
  --dark-blue: #2980b9;
  --green: rgba(144, 198, 60, 1);
  --dark-green: #1f8b4c;
  --light-gray-1: #f1f4f5;
  --light-gray-2: #ecf0f1;
  --silver: #bdc3c7;

  --form-transition-time: 500ms;
  --translate-multiplier: 0;
}
// container style //
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 1500px;
  }
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
// container style//


.slider {
  &.slick-slider{
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
  }
  .slick-prev,
  .slick-next  {
    display: none;
  }
  .slick-slide {
    pointer-events: auto !important;
  }
}


// home page style ///
.banner{
  height: 100vh;
  position: relative;
  background-color: #052D70!important;
  .banner_content{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
    @media (min-width: 992px) {
      margin-bottom: 0;
      height: 100vh;
    }
    @media (min-width: 1200px) {
      margin-right: 24px;
    }
    @media (min-width: 1600px) {
      margin-right: 50px;
    }
    @media (min-width: 1867px) {
      margin-right: 24px;
    }
    h1{
      font-family: "Lato",sans-serif;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 10px;
      @media (min-width: 576px) {
        font-size: 22px;
      }
      @media (min-width: 768px) {
        font-size: 30px;
        margin-bottom: 15px;
      }
      @media (min-width: 992px) {
        font-size: 27px;
      }
      @media (min-width: 1600px) {
        font-size: 39.5px;
        margin-bottom: 15px;
      }
      @media (min-width: 1867px) {
        font-size: 42px;
        margin-bottom: 20px;
      }
    }
    p{
      // font-size: 10px;
      margin-bottom: 10px;
      color:  rgba(255, 255, 255, 1);
      font-size: .8rem;
      font-weight: 400;
      @media (min-width: 576px) {
        font-size: 12px;
      }
      @media (min-width: 768px) {
        font-size: 16.5px;
        margin-bottom: 15px;
      }
      @media (min-width: 992px) {
        font-size: 13px;
      }
      @media (min-width: 1200px) {
        font-size: 12.5px;
      }
      @media (min-width: 1600px) {
        font-size: 16px;
      }
      @media (min-width: 1867px) {
        font-size: 17px;
        margin-bottom: 20px;
      }
    }
    form{
      width:100%;
      @media (min-width: 992px) {
        width:76%
      }
      @media (min-width: 1600px) {
        width:78%
      }
      @media (min-width: 1867px) {
        width:80%;
      }
      .form-label{
        color: rgba(195, 210, 214, 1);
        font-size: 13px!important;
        margin-bottom: 7px;
        @media (min-width: 576px) {
          font-size: 14px!important;
          margin-bottom: 8px;
        }
        @media (min-width: 768px) {
          font-size: 16px!important;
          margin-bottom: 10px;
        }
        @media (min-width: 992px) {
          font-size: 14px!important;
          margin-bottom: 8px;
        }
        @media (min-width: 1200px) {
          font-size: 15px!important;
          margin-bottom: 9px;
        }
        @media (min-width: 1600px) {
          font-size: 16px!important;
          margin-bottom: 9px;
        }
        @media (min-width: 1867px) {
          font-size: 18px!important;
          margin-bottom: 15px;
        }
      }
      .form-control{
        margin-bottom: 10px!important;
        @media (min-width: 768px) {
          margin-bottom: 15px!important;
        }
        @media (min-width: 1600px) {
          margin-bottom: 20px!important;
        }
        @media (min-width: 1867px) {
          margin-bottom: 20px!important;
        }
      }
      input{
        border-radius: 4px;
        height:35px;
        border: 1px solid rgba(213, 216, 222, 1);
        @media (min-width: 576px) {
          height:40px;
        }
        @media (min-width: 768px) {
          height: 45px;
        }
        @media (min-width: 992px) {
          height:40px;
        }
        @media (min-width: 1600px) {
          height:55px;
        }
        @media (min-width: 1867px) {
          height:67px;
        }
      }
      .lets_get_started_btn{
        height: 60px;
        width: 100%;
        font-size: 18px;
        background: rgba(141, 198, 63, 1);
        margin-top: 20px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        &:before {
          position: absolute;
          content: '';
          z-index: 1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width:0;
          transition: all 0.7s ease;
        }
        &:hover{
          &:before{
            background: rgba(33, 33, 33, 0.09);
            width: 100%;
          }
        }
        i{
          margin-left:0px;
          svg{
            height: 13px;
          }
        }
        @media (min-width: 576px) {
          height:65px;
          font-size: 20px;
          i{
            svg{
              height: 15px;
            }
          }
        }
        @media (min-width: 992px) {
          height:55px;
          font-size: 18px;
          margin-top: 20px;
          i{
            margin-left: 2px;
            svg{
              height: 13px;
            }
          }
        }
        @media (min-width: 1600px) {
          height:80px;
          font-size: 24px;
          margin-top: 30px;
          i{
            margin-left: 2px;
            svg{
              height: 14px;
            }
          }
        }
        @media (min-width: 1867px) {
          height:100px;
          font-size: 28px;
          margin-top: 40px;
          i{
            margin-left: 10px;
            svg{
              height: 20px;
            }
          }
        }
      }
    }
  }
  .desktop{
    display: none!important;
    .banner_image{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    @media (min-width: 992px) {
      display: block!important;
      .tw_logo {
        margin-bottom: 40px;
        width: 35%;
      }
      .banner_img {
        max-width: 100%;
      }
      .banner_image{
        height:100vh;
      }
    }
    @media (min-width: 1200px) {
      .tw_logo {
        margin-bottom: 30px;
        width: 30%;
      }
      .banner_img {
        max-width: 75%;
      }
    }
    @media (min-width: 1600px) {
      .tw_logo {
        margin-bottom: 40px;
        width: 28%;
      }
      .banner_img {
        max-width: 80%;
      }
    }
    @media (min-width: 1867px) {
      height: 100vh;
      .tw_logo {
        margin-bottom: 50px;
        width: 27%;
      }
      .banner_img {
        max-width: 95%;
      }
    }
    .bnr_fxd_svg{
      position: absolute;
      bottom: -61%;
      right: -169px;
      display: none!important;
      svg{
        height: 80px;
      }
      @media (min-width: 992px) {
        bottom: 0;
        right: -6%;
        display: block!important;
        svg{
          height: 200px;
        }
      }
      @media (min-width: 1367px) {
        right: -5%;
        
      }
      @media (min-width: 1600px) {
        right: -4%;
        
      }
       @media (min-width: 1867px) {
        right: 0%;
        svg{
          height: 267px;
        }
      }
    }
  }
  .mobile{
    display:block!important;
    .banner_image{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 20px;
      .tw_logo {
        margin-bottom: 20px;
        width: 25%;
      }
      .banner_img {
        max-width: 60%;
      }
      @media (min-width: 768px) {
        margin-bottom: 25px;
        .tw_logo {
          margin-bottom: 30px;
          width: 30%;
        }
        .banner_img {
          max-width: 75%;
        }
      }
    }
    @media (min-width: 992px) {
      display: none!important;
    }
  }
}
// // home page style ///


.btn_group{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .btn{    
    padding: 4px 20px;
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &.btn-primary{
      background-color: var(--green);
      border: none;
    }
    &.backbtn{
      color: #052D70;
      background-color: #fff;
      border-radius: 3px;
      height: 35px;
      &:hover{
        background-color: #052D70;
        color:#fff;
      }
    }
    &:last-child{
      border-radius: 3px;
      height: 35px;
      padding: 4px 15px;
      position: relative;
      margin-right: 0;
      &:before {
        position: absolute;
        content: '';
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width:0;
        transition: all 0.7s ease;
      }
      &:hover{
        &:before{
          background: rgba(33, 33, 33, 0.09);
          width: 100%;
        }
      }
    }
  }
  span.btn_svg {
    margin-left: 10px;
  }
}
.step_count{
  display: flex;
  i,em{
    font-style: normal;
  }
  &>i{
    margin-right: 3px;
    text-transform: uppercase;
  }
  .cnt_current{
    color: #333;
  }
  .cnt_total{
    color: #ccc;
  }
}
textarea{
  resize: none;
}
.step_heading{
  font-size: 2rem;
  font-weight: 600;
  margin: 10px 0 0;
  padding: 0;
  color: #333;
}
.step_desc{
  font-size: .9rem;
  color: #919191;
  margin-top: 7px;
  margin-bottom: 30px;
  @media (max-width: 1856px) {
    margin-bottom: 20px;
  }
}
.lep_form{
  color: #000000;
  select{
    option{
      color: #666666;
    }
  }
  ::-webkit-input-placeholder {
    color: #ACACAC;
  }

  ::-moz-placeholder {
      color: #ACACAC;
  }

  :-ms-input-placeholder {
      color: #ACACAC;
  }

  ::placeholder {
      color: #ACACAC;
  }
}


.right_wrap{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

//color shades
.color-picker {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.color-box {
  width: 31%;
  height: 144px;
  margin: 5px;
  cursor: pointer;
  position: relative;
  background-color: white;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  @media (max-width: 1856px) {
    height: 113px;
  }
}

.tick-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  background-color: #5A7FF8;
  border-radius: 50%;
  display: none;
  cursor: pointer;
}

.tick-icon:before {
  content: '\2713'; /* Unicode character for a checkmark */
  color: #fff;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.color-info {
  text-align: left;
  margin-top: 5px;
  font-size: 13px;
  color: #555;
  min-height: 58px;
  @media (max-width: 1856px) {
    font-size: 12px;
    min-height: 55px;
    margin-top: 2px;
  }
  strong{
    color: #000000;
    font-weight: 600;
  }
  em{
    font-style: normal;
    color: #969696;
  }
}

.color-shades {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  flex-wrap: wrap;
  width: 100%;
  @media (max-width: 1856px) {
    margin-top:0;
  }
}

.shade-box {
  display: inline-flex;
  position: relative;
  width: 25%;
  min-width: 25%;
  height: 25px;
  margin: 0;
  @media (max-width: 1856px) {
    height: 20px;
  }
}


//logo form
#logoSelectionForm{

  .logo_category_wrap{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    
    .logo_category {
      margin-bottom: 20px;
      display: inline-flex;
      flex-direction: column;
      margin-right: 15px;
      width: 45%;
      &.mrg{
       margin-right: 0;
       margin-left: 15px;
      }
      h3{
        font-size: 1rem;
        font-weight: 600;
        @media (max-width: 1856px) {
          font-size: .7rem;
          margin-bottom: 0.4rem;
        }
      }

      .logo_images {
        display: flex;
        gap: 10px;
        .logo_box {
          cursor: pointer;
          width: 152px;
          height: 70px;
          border: 1px solid #dbdbdb;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          &.selected {
            border-color: blue;
          }
          .logo {
            width: auto;
            max-width: 45px;
          }
          @media (max-width: 1856px) {
            height: 65px;
            margin-bottom: -13px;
          }
        }
      } 

    }       
    
  }
  
}


//font form
.step5_form{
  .item-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .item-box {
    position: relative;
    cursor: pointer;
    border: 2px solid transparent;
    overflow: hidden;
    height: 150px;
    width: 31%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #D2D5DB;
    border-radius: 5px; 
    @media (max-width: 1856px) {
      height: 115px;
    }
  }
  
  .item-box.selected {
    border-color: blue;
  }
  
  .item-image {
    width: auto;
    max-width: 100%;
    @media (max-width: 1856px) {
      max-width: 80%;
    }
  }
  .subtext {
    display: block;
    font-size: 12px;
    color: #555;
    margin-top: 5px;
  }
}


// template //
.header{
  position: relative;
  .step_header{
    padding: 10px;
    background: rgba(5, 45, 112, 1)!important;
    height: 93px;
    display: flex;
    align-items: center;
    @media (max-width: 1856px) {
      height: 75px;
    }
    .wrap_d-flex{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo_wrap{
        width: fit-content;
        svg{
          @media (max-width: 1856px) {
            height: 55px;
          }
        }
      }
      .stepper_wrap{
        width: 500px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        .progress-bar{
          position: absolute;
          left: 2px;
          height: 3px;
          background: var(--silver);
          width: 99%;
          span{
            width: 0%;
            height: 3px;
            background: var(--green);
          }
        }
        .form-steps__button{
          width: 25px;
          height: 25px;
          border-radius: 50px;
          background-color: var(--silver);
          position: relative;
          padding: 2px 0 0 0;
          z-index: 1;  
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.7s ease;
          &.active{
            width: 28px;
            height: 28px;
            background: rgba(5, 45, 112, 1)!important;
            border:2px solid var(--green);
            svg{
              display: block;
            }
          }  
          svg{
            display: none;
          }  
        }
        @media (max-width: 1856px) {
          width:450px;
          .form-steps__button{
            width: 23px;
            height: 23px;
            &.active{
              width: 25px;
              height: 25px;
              svg{
                height: 10px;
                margin-bottom: 2px;
              }
            }
          }
        }
      }
    }
  }
  .step_content{
    height: 89vh;
    display: flex;
    align-items: center;
    justify-self: center;
    .left_wrap{
      color: #333;
    }
    .bnr_fxd_svg{
      position: absolute;
      right: 0;
        bottom: -5%;
      svg{
        height: 80px;
      }
      @media (min-width: 992px) {
        bottom: -5%;
        right: -6%;
        display: block!important;
        svg{
          height: 200px;
        }
      }
      @media (min-width: 1367px) {
        right: -5%;
        
      }
      @media (min-width: 1600px) {
        right: -4%;
        bottom: -2%;
        
      }
       @media (min-width: 1867px) {
        right: 0%;
        bottom: -3%;
        svg{
          height: 267px;
        }
      }
    }
    @media (min-width: 992px) {
      .banner_img {
        max-width: 100%;
      }
    }
    @media (min-width: 1200px) {
      .banner_img {
        max-width: 75%;
      }
    }
    @media (min-width: 1600px) {
      height: 88vh;
      .banner_img {
        max-width: 70%;
      }
    }
    @media (min-width: 1867px) {
      .banner_img {
        max-width: 95%;
      }
    }
  }
}
// template //









// thank you //
.thank_u_wrap{
  height: 100vh;
  background: rgba(213, 235, 255, 1);
  display: flex!important;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  .tw_thank_you{
    margin-bottom: 20px;
    max-width: 70%;
  }
  h2{
    font-size: 65px;
    text-align: center;
    color:rgba(5, 45, 112, 1);
    font-weight: 600;
  }
  p{
    font-size: 30px;
    text-align: center;
    line-height: 37px;
    color: rgb(0, 0, 0);
    margin-top: 20px;
  }
}

// common style //

.h_resp_45{
  height: 50px!important;
  @media (max-width: 1856px) {
    height: 40px!important;
  }
}
.h_resp_100{
  height: 130px!important;
  @media (max-width: 1856px) {
    height: 80px!important;
  }
}
.adj_height{
  min-height: 50px !important;
  max-height: 75px!important;
  overflow: auto;
  @media (max-width: 1856px) {
    min-height: 40px !important;
  }
}
.mrg_b{
  margin-bottom: 30px;
  @media (max-width: 1856px) {
    margin-bottom: 20px;
  }
}
.form-select{
  border-radius: 3px!important;
  border-color: #C5C6C9!important;
}
.form-control{
  border-radius: 3px!important;
  border-color: #C5C6C9!important;
  &:focus{
    border-color: #dee2e6!important;
    box-shadow: none!important;
  }
}

.inner_form_wrap{
  min-height: 470px;
  margin-bottom: 20px;
  @media (max-width: 1856px) {
    min-height: 370px;
    margin-bottom: 15px;
  }
}
.button_wrap{
  margin-right: 25%;
}
.select2-container{
  height:50px;
  min-width: 542px;
}
.select_wrap{
  width:100%;
  overflow: hidden;
}
.select2-container .select2-selection--single{
  height:50px;
  display: flex;
  align-items: center;
  border-color: #C5C6C9!important;
  @media (max-width: 1856px) {
    height:40px;
  }
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
  transform: translateY(8px);
  left: 0%;
  border-width: 7px 6px 0 6px;
}
.select2-container--default .select2-results>.select2-results__options{
  max-height: 150px;
}
.select2-results__option--selectable{
  height:30px;
  display: flex;
  align-items: center;
  color:#000;
}
.select2-results{
  img{
    max-width: 30px!important;
    margin-right: 15px;
  }
  span{
    color: rgb(101, 101, 101);
  }
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
  height:30px;
  background:#90c63c63;
}
.select2-container--default .select2-results__option--selected{
  background:#90c63c63;
}
.select2-selection__rendered{
  span{
    display: flex;
    align-items: center;
    img{
      margin-right: 15px;
      max-width: 35px;
    }
  }
}
.select2-container--default .select2-dropdown {
  max-height: 200px; /* Adjust as needed */
  overflow-y: auto;
}
// common style //



// tagify //
.tagify--focus{
  border-color: #dee2e6!important;
}
.tagify__tag--editable{
  div{
    &::before{
      box-shadow: 0 0 0 2px #90c63c63 inset!important;
    }
  }
}
.tagify__input{
  font-size: 12px;
  color:rgba(101, 101, 101, 1) ;
  margin-bottom: 10px;
}
.tagify {
  display: flex;
  align-items: center;
  padding: 5px 10px 0;
  --tag-bg: rgba(230, 230, 231, 1);
  .tagify__tag{
    margin: 0;
    margin-right:10px;
    margin-bottom: 5px;
    margin-bottom: 5px;
   font-size: 13px;
   &:hover{
    div{
      &:before{
        --tag-bg: #90c63c63!important;
      }
     }
   }
   
   div{
    border-radius: 50px;
    padding: 6px 5px 6px 10px;
    color:rgba(101, 101, 101, 1) ;
   }
   .tagify__tag__removeBtn{
    margin-right: 7px;
    &::after{
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="7" height="7" viewBox="0 0 7 7" fill="none"><path d="M3.05002 3.4176L0.0931933 0.530384C-0.0310644 0.409051 -0.0310644 0.212332 0.0931933 0.0909994C0.217451 -0.0303331 0.418913 -0.0303331 0.543171 0.0909994L3.5 2.97822L6.45683 0.0909994C6.58109 -0.0303331 6.78255 -0.0303331 6.90681 0.0909994C7.03106 0.212332 7.03106 0.409051 6.90681 0.530384L3.94998 3.4176L6.90681 6.30483C7.03106 6.42616 7.03106 6.62288 6.90681 6.74421C6.78255 6.86554 6.58109 6.86554 6.45683 6.74421L3.5 3.85699L0.543171 6.74421C0.418913 6.86554 0.217451 6.86554 0.0931933 6.74421C-0.0310644 6.62288 -0.0310644 6.42616 0.0931933 6.30483L3.05002 3.4176Z" fill="%236B6C73"/></svg>');
      position: absolute;
      top: 5px;
      right: 10px;
    }
   }
  }
}