@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
  box-sizing: border-box;
  background: #fff;
}

:root {
  --gray-blue: #2c3e50;
  --dark-blue: #2980b9;
  --green: rgba(144, 198, 60, 1);
  --dark-green: #1f8b4c;
  --light-gray-1: #f1f4f5;
  --light-gray-2: #ecf0f1;
  --silver: #bdc3c7;
  --form-transition-time: 500ms;
  --translate-multiplier: 0;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 1500px;
  }
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.slider.slick-slider {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  user-select: auto;
}
.slider .slick-prev,
.slider .slick-next {
  display: none;
}
.slider .slick-slide {
  pointer-events: auto !important;
}

.banner {
  height: 100vh;
  position: relative;
  background-color: #052D70 !important;
}
.banner .banner_content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .banner .banner_content {
    margin-bottom: 0;
    height: 100vh;
  }
}
@media (min-width: 1200px) {
  .banner .banner_content {
    margin-right: 0;
  }
}
@media (min-width: 1600px) {
  .banner .banner_content {
    margin-right: 50px;
  }
}
@media (min-width: 1867px) {
  .banner .banner_content {
    margin-right: 24px;
  }
}
.banner .banner_content h1 {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
@media (min-width: 576px) {
  .banner .banner_content h1 {
    font-size: 22px;
  }
}
@media (min-width: 768px) {
  .banner .banner_content h1 {
    font-size: 30px;
    margin-bottom: 15px;
  }
}
@media (min-width: 992px) {
  .banner .banner_content h1 {
    font-size: 32px;
  }
}
@media (min-width: 1600px) {
  .banner .banner_content h1 {
    font-size: 39.5px;
    margin-bottom: 15px;
  }
}
@media (min-width: 1867px) {
  .banner .banner_content h1 {
    font-size: 42px;
    margin-bottom: 20px;
  }
}
.banner .banner_content p {
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
  font-size: 0.8rem;
  font-weight: 400;
}
@media (min-width: 576px) {
  .banner .banner_content p {
    font-size: 12px;
  }
}
@media (min-width: 768px) {
  .banner .banner_content p {
    font-size: 16.5px;
    margin-bottom: 15px;
  }
}
@media (min-width: 992px) {
  .banner .banner_content p {
    font-size: 13px;
  }
}
@media (min-width: 1200px) {
  .banner .banner_content p {
    font-size: 14px;
  }
}
@media (min-width: 1600px) {
  .banner .banner_content p {
    font-size: 16px;
  }
}
@media (min-width: 1867px) {
  .banner .banner_content p {
    font-size: 17px;
    margin-bottom: 20px;
  }
}
.banner .banner_content form {
  width: 100%;
}
@media (min-width: 992px) {
  .banner .banner_content form {
    width: 76%;
  }
}
@media (min-width: 1600px) {
  .banner .banner_content form {
    width: 78%;
  }
}
@media (min-width: 1867px) {
  .banner .banner_content form {
    width: 80%;
  }
}
.banner .banner_content form .form-label {
  color: rgb(195, 210, 214);
  font-size: 13px !important;
  margin-bottom: 7px;
}
@media (min-width: 576px) {
  .banner .banner_content form .form-label {
    font-size: 14px !important;
    margin-bottom: 8px;
  }
}
@media (min-width: 768px) {
  .banner .banner_content form .form-label {
    font-size: 16px !important;
    margin-bottom: 10px;
  }
}
@media (min-width: 992px) {
  .banner .banner_content form .form-label {
    font-size: 14px !important;
    margin-bottom: 8px;
  }
}
@media (min-width: 1200px) {
  .banner .banner_content form .form-label {
    font-size: 15px !important;
    margin-bottom: 9px;
  }
}
@media (min-width: 1600px) {
  .banner .banner_content form .form-label {
    font-size: 16px !important;
    margin-bottom: 9px;
  }
}
@media (min-width: 1867px) {
  .banner .banner_content form .form-label {
    font-size: 18px !important;
    margin-bottom: 15px;
  }
}
.banner .banner_content form .form-control {
  margin-bottom: 10px !important;
}
@media (min-width: 768px) {
  .banner .banner_content form .form-control {
    margin-bottom: 15px !important;
  }
}
@media (min-width: 1600px) {
  .banner .banner_content form .form-control {
    margin-bottom: 20px !important;
  }
}
@media (min-width: 1867px) {
  .banner .banner_content form .form-control {
    margin-bottom: 20px !important;
  }
}
.banner .banner_content form input {
  border-radius: 4px;
  height: 35px;
  border: 1px solid rgb(213, 216, 222);
}
@media (min-width: 576px) {
  .banner .banner_content form input {
    height: 40px;
  }
}
@media (min-width: 768px) {
  .banner .banner_content form input {
    height: 45px;
  }
}
@media (min-width: 992px) {
  .banner .banner_content form input {
    height: 40px;
  }
}
@media (min-width: 1600px) {
  .banner .banner_content form input {
    height: 55px;
  }
}
@media (min-width: 1867px) {
  .banner .banner_content form input {
    height: 67px;
  }
}
.banner .banner_content form .lets_get_started_btn {
  height: 60px;
  width: 100%;
  font-size: 18px;
  background: rgb(141, 198, 63);
  margin-top: 20px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.banner .banner_content form .lets_get_started_btn:before {
  position: absolute;
  content: "";
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0;
  transition: all 0.7s ease;
}
.banner .banner_content form .lets_get_started_btn:hover:before {
  background: rgba(33, 33, 33, 0.09);
  width: 100%;
}
.banner .banner_content form .lets_get_started_btn i {
  margin-left: 0px;
}
.banner .banner_content form .lets_get_started_btn i svg {
  height: 13px;
}
@media (min-width: 576px) {
  .banner .banner_content form .lets_get_started_btn {
    height: 65px;
    font-size: 20px;
  }
  .banner .banner_content form .lets_get_started_btn i svg {
    height: 15px;
  }
}
@media (min-width: 992px) {
  .banner .banner_content form .lets_get_started_btn {
    height: 55px;
    font-size: 18px;
    margin-top: 20px;
  }
  .banner .banner_content form .lets_get_started_btn i {
    margin-left: 2px;
  }
  .banner .banner_content form .lets_get_started_btn i svg {
    height: 13px;
  }
}
@media (min-width: 1600px) {
  .banner .banner_content form .lets_get_started_btn {
    height: 80px;
    font-size: 24px;
    margin-top: 30px;
  }
  .banner .banner_content form .lets_get_started_btn i {
    margin-left: 2px;
  }
  .banner .banner_content form .lets_get_started_btn i svg {
    height: 14px;
  }
}
@media (min-width: 1867px) {
  .banner .banner_content form .lets_get_started_btn {
    height: 100px;
    font-size: 28px;
    margin-top: 40px;
  }
  .banner .banner_content form .lets_get_started_btn i {
    margin-left: 10px;
  }
  .banner .banner_content form .lets_get_started_btn i svg {
    height: 20px;
  }
}
.banner .desktop {
  display: none !important;
}
.banner .desktop .banner_image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 992px) {
  .banner .desktop {
    display: block !important;
  }
  .banner .desktop .tw_logo {
    margin-bottom: 40px;
    width: 35%;
  }
  .banner .desktop .banner_img {
    max-width: 100%;
  }
  .banner .desktop .banner_image {
    height: 100vh;
  }
}
@media (min-width: 1200px) {
  .banner .desktop .tw_logo {
    margin-bottom: 36px;
    width: 31%;
  }
  .banner .desktop .banner_img {
    max-width: 72%;
  }
}
@media (min-width: 1600px) {
  .banner .desktop .tw_logo {
    margin-bottom: 40px;
    width: 28%;
  }
  .banner .desktop .banner_img {
    max-width: 80%;
  }
}
@media (min-width: 1867px) {
  .banner .desktop {
    height: 100vh;
  }
  .banner .desktop .tw_logo {
    margin-bottom: 50px;
    width: 27%;
  }
  .banner .desktop .banner_img {
    max-width: 95%;
  }
}
.banner .desktop .bnr_fxd_svg {
  position: absolute;
  bottom: -61%;
  right: -169px;
  display: none !important;
}
.banner .desktop .bnr_fxd_svg svg {
  height: 80px;
}
@media (min-width: 992px) {
  .banner .desktop .bnr_fxd_svg {
    bottom: 0%;
    right: -8.3%;
    display: block !important;
  }
  .banner .desktop .bnr_fxd_svg svg {
    height: 170px;
  }
}
@media (min-width: 1200px) {
  .banner .desktop .bnr_fxd_svg {
    bottom: 0%;
    right: -7.3%;
    display: block !important;
  }
  .banner .desktop .bnr_fxd_svg svg {
    height: 170px;
  }
}
@media (min-width: 1366px) {
  .banner .desktop .bnr_fxd_svg {
    right: -4.5%;
  }
  .banner .desktop .bnr_fxd_svg svg {
    height: 200px;
  }
}
@media (min-width: 1600px) {
  .banner .desktop .bnr_fxd_svg {
    right: -3.8%;
  }
}
@media (min-width: 1867px) {
  .banner .desktop .bnr_fxd_svg {
    right: 0%;
  }
  .banner .desktop .bnr_fxd_svg svg {
    height: 267px;
  }
}
.banner .mobile {
  display: block !important;
}
.banner .mobile .banner_image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
.banner .mobile .banner_image .tw_logo {
  margin-bottom: 20px;
  width: 25%;
}
.banner .mobile .banner_image .banner_img {
  max-width: 60%;
}
@media (min-width: 768px) {
  .banner .mobile .banner_image {
    margin-bottom: 25px;
  }
  .banner .mobile .banner_image .tw_logo {
    margin-bottom: 30px;
    width: 30%;
  }
  .banner .mobile .banner_image .banner_img {
    max-width: 75%;
  }
}
@media (min-width: 992px) {
  .banner .mobile {
    display: none !important;
  }
}

.btn_group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.btn_group .btn {
  padding: 4px 20px;
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.btn_group .btn.btn-primary {
  background-color: var(--green);
  border: none;
}
.btn_group .btn.backbtn {
  color: #052D70;
  background-color: #fff;
  border-radius: 3px;
  height: 35px;
}
.btn_group .btn.backbtn:hover {
  background-color: #052D70;
  color: #fff;
}
.btn_group .btn:last-child {
  border-radius: 3px;
  height: 35px;
  padding: 4px 15px;
  position: relative;
  margin-right: 0;
}
.btn_group .btn:last-child:before {
  position: absolute;
  content: "";
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0;
  transition: all 0.7s ease;
}
.btn_group .btn:last-child:hover:before {
  background: rgba(33, 33, 33, 0.09);
  width: 100%;
}
@media (max-width: 1365px) {
  .btn_group .btn {
    font-size: 14px;
  }
  .btn_group .btn:last-child {
    border-radius: 3px;
    height: 30px;
    padding: 4px 10px;
  }
  .btn_group .btn:last-child .btn_svg {
    margin-left: 6px;
  }
  .btn_group .btn.backbtn {
    border-radius: 3px;
    height: 30px;
  }
}
.btn_group span.btn_svg {
  margin-left: 10px;
}

.step_count {
  display: flex;
}
.step_count i, .step_count em {
  font-style: normal;
}
.step_count > i {
  margin-right: 3px;
  text-transform: uppercase;
}
.step_count .cnt_current {
  color: #333;
}
.step_count .cnt_total {
  color: #ccc;
}
@media (max-width: 1599px) {
  .step_count {
    font-size: 15px;
  }
}
@media (max-width: 1199px) {
  .step_count {
    font-size: 13px;
  }
}

textarea {
  resize: none;
}

.step_heading {
  font-size: 2rem;
  font-weight: 600;
  margin: 10px 0 0;
  padding: 0;
  color: #333;
}
@media (max-width: 1599px) {
  .step_heading {
    font-size: 1.6rem;
  }
}
@media (max-width: 1199px) {
  .step_heading {
    font-size: 1.4rem;
  }
}

.step_desc {
  font-size: 0.9rem;
  color: #919191;
  margin-top: 7px;
  margin-bottom: 30px;
}
@media (max-width: 1856px) {
  .step_desc {
    margin-bottom: 20px;
  }
}
@media (max-width: 1599px) {
  .step_desc {
    font-size: 0.8rem;
  }
}
@media (max-width: 1199px) {
  .step_desc {
    margin-bottom: 15px;
  }
}

.lep_form {
  color: #000000;
}
.lep_form select option {
  color: #666666;
}
.lep_form ::-moz-placeholder {
  color: #ACACAC;
}
.lep_form ::placeholder {
  color: #ACACAC;
}

.right_wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-picker {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.color-box {
  width: 31%;
  height: 144px;
  margin: 5px;
  cursor: pointer;
  position: relative;
  background-color: white;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
@media (max-width: 1856px) {
  .color-box {
    height: 113px;
  }
}
@media (max-width: 1599px) {
  .color-box {
    height: 115px;
    justify-content: space-between;
  }
}
@media (max-width: 1199px) {
  .color-box {
    height: 105px;
    width: 30%;
  }
}

.tick-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  background-color: #5A7FF8;
  border-radius: 50%;
  display: none;
  cursor: pointer;
}

.tick-icon:before {
  content: "✓"; /* Unicode character for a checkmark */
  color: #fff;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.color-info {
  text-align: left;
  margin-top: 5px;
  font-size: 13px;
  color: #555;
  min-height: 58px;
}
@media (max-width: 1856px) {
  .color-info {
    font-size: 12px;
    min-height: 55px;
    margin-top: 2px;
  }
}
.color-info strong {
  color: #000000;
  font-weight: 600;
}
.color-info em {
  font-style: normal;
  color: #969696;
}
@media (max-width: 1599px) {
  .color-info em {
    font-size: 11px;
  }
}
@media (max-width: 1199px) {
  .color-info em {
    font-size: 10px;
  }
}

.color-shades {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  flex-wrap: wrap;
  width: 100%;
}
@media (max-width: 1856px) {
  .color-shades {
    margin-top: 0;
  }
}

.shade-box {
  display: inline-flex;
  position: relative;
  width: 25%;
  min-width: 25%;
  height: 25px;
  margin: 0;
}
@media (max-width: 1856px) {
  .shade-box {
    height: 20px;
  }
}
@media (max-width: 1199px) {
  .shade-box {
    height: 15px;
  }
}

#logoSelectionForm .logo_category_wrap {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
#logoSelectionForm .logo_category_wrap .logo_category {
  margin-bottom: 20px;
  display: inline-flex;
  flex-direction: column;
  margin-right: 15px;
  width: 45%;
}
#logoSelectionForm .logo_category_wrap .logo_category.mrg {
  margin-right: 0;
  margin-left: 15px;
}
#logoSelectionForm .logo_category_wrap .logo_category h3 {
  font-size: 1rem;
  font-weight: 600;
}
@media (max-width: 1856px) {
  #logoSelectionForm .logo_category_wrap .logo_category h3 {
    font-size: 0.7rem;
    margin-bottom: 0.4rem;
  }
}
#logoSelectionForm .logo_category_wrap .logo_category .logo_images {
  display: flex;
  gap: 10px;
}
#logoSelectionForm .logo_category_wrap .logo_category .logo_images .logo_box {
  cursor: pointer;
  width: 152px;
  height: 70px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#logoSelectionForm .logo_category_wrap .logo_category .logo_images .logo_box.selected {
  border-color: blue;
}
#logoSelectionForm .logo_category_wrap .logo_category .logo_images .logo_box .logo {
  width: auto;
  max-width: 45px;
}
@media (max-width: 1856px) {
  #logoSelectionForm .logo_category_wrap .logo_category .logo_images .logo_box {
    height: 65px;
    margin-bottom: -13px;
  }
}

.step5_form .item-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.step5_form .item-box {
  position: relative;
  cursor: pointer;
  border: 2px solid transparent;
  overflow: hidden;
  height: 150px;
  width: 31%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #D2D5DB;
  border-radius: 5px;
}
@media (max-width: 1856px) {
  .step5_form .item-box {
    height: 115px;
  }
}
@media (max-width: 1199px) {
  .step5_form .item-box {
    height: 100px;
  }
}
.step5_form .item-box.selected {
  border-color: blue;
}
.step5_form .item-image {
  width: auto;
  max-width: 100%;
}
@media (max-width: 1856px) {
  .step5_form .item-image {
    max-width: 80%;
  }
}
@media (max-width: 1856px) {
  .step5_form .item-image {
    max-width: 60%;
  }
}
.step5_form .subtext {
  display: block;
  font-size: 12px;
  color: #555;
  margin-top: 5px;
}

.header {
  position: relative;
}
.header .step_header {
  padding: 10px;
  background: rgb(5, 45, 112) !important;
  height: 93px;
  display: flex;
  align-items: center;
}
@media (max-width: 1856px) {
  .header .step_header {
    height: 75px;
  }
}
.header .step_header .wrap_d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .step_header .wrap_d-flex .logo_wrap {
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 1856px) {
  .header .step_header .wrap_d-flex .logo_wrap svg {
    height: 55px;
  }
}
.header .step_header .wrap_d-flex .stepper_wrap {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header .step_header .wrap_d-flex .stepper_wrap .progress-bar {
  position: absolute;
  left: 2px;
  height: 3px;
  background: var(--silver);
  width: 99%;
}
.header .step_header .wrap_d-flex .stepper_wrap .progress-bar span {
  width: 0%;
  height: 3px;
  background: var(--green);
}
.header .step_header .wrap_d-flex .stepper_wrap .form-steps__button {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background-color: var(--silver);
  position: relative;
  padding: 2px 0 0 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.7s ease;
}
.header .step_header .wrap_d-flex .stepper_wrap .form-steps__button.active {
  width: 28px;
  height: 28px;
  background: rgb(5, 45, 112) !important;
  border: 2px solid var(--green);
}
.header .step_header .wrap_d-flex .stepper_wrap .form-steps__button.active svg {
  display: block;
}
.header .step_header .wrap_d-flex .stepper_wrap .form-steps__button svg {
  display: none;
}
@media (max-width: 1856px) {
  .header .step_header .wrap_d-flex .stepper_wrap {
    width: 450px;
  }
  .header .step_header .wrap_d-flex .stepper_wrap .form-steps__button {
    width: 23px;
    height: 23px;
  }
  .header .step_header .wrap_d-flex .stepper_wrap .form-steps__button.active {
    width: 25px;
    height: 25px;
  }
  .header .step_header .wrap_d-flex .stepper_wrap .form-steps__button.active svg {
    height: 10px;
    margin-bottom: 2px;
  }
}
@media (max-width: 1599px) {
  .header .step_header .wrap_d-flex .stepper_wrap {
    width: 360px;
  }
}
@media (max-width: 1365px) {
  .header .step_header .wrap_d-flex .stepper_wrap {
    width: 280px;
  }
}
.header .step_content {
  height: 89vh;
  display: flex;
  align-items: center;
  justify-self: center;
}
.header .step_content .left_wrap {
  color: #333;
}
@media (max-width: 1599px) {
  .header .step_content .left_wrap {
    padding-top: 15px;
  }
}
.header .step_content .bnr_fxd_svg {
  position: absolute;
  right: 0;
  bottom: -5%;
}
.header .step_content .bnr_fxd_svg svg {
  height: 80px;
}
@media (min-width: 992px) {
  .header .step_content .bnr_fxd_svg {
    bottom: 0%;
    right: -8.3%;
    display: block !important;
  }
  .header .step_content .bnr_fxd_svg svg {
    height: 170px;
  }
}
@media (min-width: 1200px) {
  .header .step_content .bnr_fxd_svg {
    bottom: -1%;
    right: -7.3%;
    display: block !important;
  }
  .header .step_content .bnr_fxd_svg svg {
    height: 170px;
  }
}
@media (min-width: 1366px) {
  .header .step_content .bnr_fxd_svg {
    right: -4.5%;
    bottom: -2%;
  }
  .header .step_content .bnr_fxd_svg svg {
    height: 200px;
  }
}
@media (min-width: 1600px) {
  .header .step_content .bnr_fxd_svg {
    right: -3.8%;
    bottom: -2%;
  }
}
@media (min-width: 1867px) {
  .header .step_content .bnr_fxd_svg {
    right: 0%;
    bottom: -2%;
  }
  .header .step_content .bnr_fxd_svg svg {
    height: 267px;
  }
}
.header .step_content .svg_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
@media (min-width: 992px) {
  .header .step_content .svg_wrapper {
    display: block;
  }
}
@media (min-width: 992px) {
  .header .step_content #step_right_svg {
    height: 300px;
  }
}
@media (min-width: 1200px) {
  .header .step_content #step_right_svg {
    height: 350px;
  }
}
@media (min-width: 1600px) {
  .header .step_content {
    height: 89vh;
  }
  .header .step_content #step_right_svg {
    height: 450px;
  }
}
@media (min-width: 1867px) {
  .header .step_content #step_right_svg {
    height: 550px;
  }
}

.svg_wrapper.mobile {
  display: block !important;
  display: flex !important;
  margin-top: 140px;
}
.svg_wrapper.mobile svg {
  height: 150px;
}
@media (min-width: 992px) {
  .svg_wrapper.mobile {
    display: none !important;
  }
}

.thank_u_wrap {
  height: 100vh;
  background: rgb(213, 235, 255);
  display: flex !important;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.thank_u_wrap .tw_thank_you {
  margin-bottom: 20px;
  max-width: 70%;
}
.thank_u_wrap h2 {
  font-size: 65px;
  text-align: center;
  color: rgb(5, 45, 112);
  font-weight: 600;
}
.thank_u_wrap p {
  font-size: 30px;
  text-align: center;
  line-height: 37px;
  color: rgb(0, 0, 0);
  margin-top: 20px;
}

@media (max-width: 1599px) {
  .form-label {
    font-size: 14px;
  }
}
@media (max-width: 1199px) {
  .form-label {
    font-size: 12px;
  }
}

.h_resp_45 {
  height: 50px !important;
}
@media (max-width: 1856px) {
  .h_resp_45 {
    height: 40px !important;
  }
}
@media (max-width: 1199px) {
  .h_resp_45 {
    height: 35px !important;
  }
}

.h_resp_100 {
  height: 130px !important;
}
@media (max-width: 1856px) {
  .h_resp_100 {
    height: 80px !important;
  }
}
@media (max-width: 1199px) {
  .h_resp_100 {
    height: 60px !important;
  }
}

.adj_height {
  min-height: 50px !important;
  max-height: 75px !important;
  overflow: auto;
}
@media (max-width: 1856px) {
  .adj_height {
    min-height: 40px !important;
  }
}
@media (max-width: 1199px) {
  .adj_height {
    min-height: 35px !important;
  }
}

.mrg_b {
  margin-bottom: 30px;
}
@media (max-width: 1856px) {
  .mrg_b {
    margin-bottom: 20px;
  }
}
@media (max-width: 1199px) {
  .mrg_b {
    margin-bottom: 15px;
  }
}

.form-select {
  border-radius: 3px !important;
  border-color: #C5C6C9 !important;
  color: #666666;
}
@media (max-width: 1599px) {
  .form-select {
    font-size: 14px;
  }
}
@media (max-width: 1199px) {
  .form-select {
    font-size: 12px;
    height: 35px !important;
  }
}

.form-control {
  border-radius: 3px !important;
  border-color: #C5C6C9 !important;
}
.form-control:focus {
  border-color: #dee2e6 !important;
  box-shadow: none !important;
}
@media (max-width: 1599px) {
  .form-control {
    font-size: 14px;
  }
}
@media (max-width: 1199px) {
  .form-control {
    font-size: 12px;
  }
}

.inner_form_wrap {
  min-height: 470px;
  margin-bottom: 20px;
}
@media (max-width: 1856px) {
  .inner_form_wrap {
    min-height: 370px;
    margin-bottom: 15px;
  }
}
@media (max-width: 1599px) {
  .inner_form_wrap {
    min-height: 380px;
  }
}
@media (max-width: 1199px) {
  .inner_form_wrap {
    min-height: 365px;
  }
}

.button_wrap {
  margin-right: 25%;
}
@media (max-width: 1599px) {
  .button_wrap {
    margin-right: 20%;
  }
}
@media (max-width: 1199px) {
  .button_wrap {
    margin-right: 10%;
  }
}

.select2-container {
  height: 50px;
  min-width: 542px;
}
@media (max-width: 1599px) {
  .select2-container {
    min-width: 434px;
  }
}
@media (max-width: 1199px) {
  .select2-container {
    min-width: 408px;
  }
}

.select_wrap {
  width: 100%;
  overflow: hidden;
}

.select2-container .select2-selection--single {
  height: 50px;
  display: flex;
  align-items: center;
  border-color: #C5C6C9 !important;
}
@media (max-width: 1856px) {
  .select2-container .select2-selection--single {
    height: 40px;
  }
}
@media (max-width: 1199px) {
  .select2-container .select2-selection--single {
    height: 35px;
  }
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  transform: translateY(8px);
  left: 0%;
  border-width: 7px 6px 0 6px;
}
@media (max-width: 1199px) {
  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    transform: translateY(3px);
  }
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 150px;
}

.select2-results__option--selectable {
  height: 30px;
  display: flex;
  align-items: center;
  color: #000;
}

.select2-results img {
  max-width: 30px !important;
  margin-right: 15px;
}
.select2-results span {
  color: rgb(101, 101, 101);
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  height: 30px;
  background: rgba(144, 198, 60, 0.3882352941);
}

.select2-container--default .select2-results__option--selected {
  background: rgba(144, 198, 60, 0.3882352941);
}

.select2-selection__rendered span {
  display: flex;
  align-items: center;
}
@media (max-width: 1599px) {
  .select2-selection__rendered span {
    font-size: 14px;
  }
}
.select2-selection__rendered span img {
  margin-right: 15px;
  max-width: 35px;
}
@media (max-width: 1599px) {
  .select2-selection__rendered span img {
    margin-right: 10px;
    max-width: 30px;
  }
}

.select2-container--default .select2-dropdown {
  max-height: 200px; /* Adjust as needed */
  overflow-y: auto;
}

.validation_message {
  color: #c13c3c;
  font-size: 0.8rem;
}

.hint_label {
  font-size: 0.9rem;
  color: #5f5f5f;
}

.select2-container {
  min-width: 100%;
  max-width: 100%;
}

.color-box {
  width: 30%;
}

.tagify--focus {
  border-color: #dee2e6 !important;
}

.tagify__tag--editable div::before {
  box-shadow: 0 0 0 2px rgba(144, 198, 60, 0.3882352941) inset !important;
}

.tagify__input {
  font-size: 12px;
  color: rgb(101, 101, 101);
  margin-bottom: 10px;
}
@media (max-width: 1199px) {
  .tagify__input {
    min-width: 50px;
    margin-bottom: 0px;
  }
}

.tagify {
  display: flex;
  align-items: center;
  padding: 5px 10px 0;
  --tag-bg: rgba(230, 230, 231, 1);
}
.tagify .tagify__tag {
  margin: 0;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-bottom: 5px;
  font-size: 13px;
}
@media (max-width: 1199px) {
  .tagify .tagify__tag {
    font-size: 11px;
  }
}
.tagify .tagify__tag:hover div:before {
  --tag-bg: #90c63c63!important;
}
.tagify .tagify__tag div {
  border-radius: 50px;
  padding: 6px 5px 6px 10px;
  color: rgb(101, 101, 101);
}
.tagify .tagify__tag .tagify__tag__removeBtn {
  margin-right: 7px;
}
.tagify .tagify__tag .tagify__tag__removeBtn::after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="7" height="7" viewBox="0 0 7 7" fill="none"><path d="M3.05002 3.4176L0.0931933 0.530384C-0.0310644 0.409051 -0.0310644 0.212332 0.0931933 0.0909994C0.217451 -0.0303331 0.418913 -0.0303331 0.543171 0.0909994L3.5 2.97822L6.45683 0.0909994C6.58109 -0.0303331 6.78255 -0.0303331 6.90681 0.0909994C7.03106 0.212332 7.03106 0.409051 6.90681 0.530384L3.94998 3.4176L6.90681 6.30483C7.03106 6.42616 7.03106 6.62288 6.90681 6.74421C6.78255 6.86554 6.58109 6.86554 6.45683 6.74421L3.5 3.85699L0.543171 6.74421C0.418913 6.86554 0.217451 6.86554 0.0931933 6.74421C-0.0310644 6.62288 -0.0310644 6.42616 0.0931933 6.30483L3.05002 3.4176Z" fill="%236B6C73"/></svg>');
  position: absolute;
  top: 5px;
  right: 10px;
}

#main_bodies {
  animation: float 4s infinite alternate;
}

#cloud_curve {
  animation: fadeOutMoveLeft 8s linear infinite;
  fill: #fff;
}

#cloud1 {
  animation: fadeOutMoveRight 8s linear infinite;
  fill: #fff;
}

#cloud2 {
  animation: fadeOutMoveRight 8s linear infinite;
  fill: #fff;
}

#bird {
  animation: floatOpa 2s linear infinite;
}

#curves {
  animation: fadeOut 4s linear infinite;
}

#red_circle, #yellow_circle {
  animation: fadeOut 4s linear infinite;
}

.left_wrap {
  position: relative;
  overflow: hidden;
}

.form_wrap_1, .form_wrap_2, .form_wrap_3, .form_wrap_4, .form_wrap_5 {
  position: relative;
  left: -800px;
  animation: slideFromLeft 1s forwards;
}
@keyframes slideFromLeft {
  100% {
    left: 0;
  }
}
/*============================*/
@keyframes floatSvg {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
/*=================================*/
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}
/*======================================*/
@keyframes floatOpa {
  0% {
    transform: translatey(0px);
    opacity: 1;
  }
  50% {
    transform: translatey(-10px);
    opacity: 0.6;
  }
  100% {
    transform: translatey(0px);
    opacity: 1;
  }
}
/*==================================*/
@keyframes fadeIn {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOutMoveLeft {
  0% {
    opacity: 0;
    transform: translatex(0px);
  }
  25% {
    opacity: 0.5;
    transform: translatex(-20px);
  }
  50% {
    opacity: 1;
    transform: translatex(-80px);
  }
  75% {
    opacity: 0.5;
    transform: translatex(-100px);
  }
  100% {
    opacity: 0;
    transform: translatex(-120px);
  }
}
@keyframes fadeOutMoveRight {
  0% {
    opacity: 0;
    transform: translatex(0px);
  }
  25% {
    opacity: 0.5;
    transform: translatex(60px);
  }
  50% {
    opacity: 1;
    transform: translatex(110px);
  }
  75% {
    opacity: 0.5;
    transform: translatex(140px);
  }
  100% {
    opacity: 0;
    transform: translatex(190px);
  }
}
/*===============================*//*# sourceMappingURL=styles.css.map */